<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Bienvenue{% endblock %}</title>
    <link href="style/style.css" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="font-montserrat text-sm bg-white">
    <div class="flex min-h-screen 2xl:max-w-screen-2xl 2xl:mx-auto 2xl:border-x-2 2xl:border-gray-200">
    {# flex min-h-screen #}
        
        {% include 'parts/menuLeft.html.twig' %}

        {% block bodyContent %}
            <main class="flex-1 py-10 px-5 sm:px-10">
                {% block content %}
                {% endblock %}
            </main>
        {% endblock %}

            {% block menuRight %}
                {% include 'parts/menuRight.html.twig' %}
            {% endblock %}
    </div>

    {% block javascripts %}
    {% endblock %}
</body>

</html>
